# Watch Me Code 1: Superhero Movies

https://raw.githubusercontent.com/mafudge/datasets/master/superhero/superhero-movie-dataset-1978-2012.csv

COLUMNS year, title, comic, imdb, rt, composite, opening_weeked_bo, avg_ticket_price, opening_weekend_attend, us_pop_that_year

- read_csv file from web
- no column names
- head(), sample()
- value_counts
- dealing with nulls
- Feature engineering

In [11]:
import pandas as pd

sh = pd.read_csv('https://raw.githubusercontent.com/mafudge/datasets/master/superhero/superhero-movie-dataset-1978-2012.csv',
                names = ['year', 'title', 'comic', 'imdb', 'rt', 'composite', 'opening_weeked_bo', 'avg_ticket_price', 'opening_weekend_attend', 'us_pop_that_year'])
sh.head()

,year,title,comic,imdb,rt,composite,opening_weeked_bo,avg_ticket_price,opening_weekend_attend,us_pop_that_year
0,1978,Superman,DC,7.3,95,84.0,7465343.0,2.34,3190317.521,222584545
1,1980,Superman II,DC,6.7,88,77.5,14100523.0,2.69,5241830.112,227224681
2,1982,Swamp Thing,DC,5.3,60,56.5,NaN,2.94,NaN,231664458
3,1983,Superman III,DC,4.9,24,36.5,13352357.0,3.15,4238843.492,233791994
4,1984,Supergirl,DC,4.2,8,25.0,5738249.0,3.36,1707812.202,235824902

In [10]:
# no columns? no sweat!
sh.columns = [ 'year', 'title', 'comic', 'imdb', 'rt', 'composite', 'opening_weeked_bo', 'avg_ticket_price', 'opening_weekend_attend', 'us_pop_that_year']
sh.head()

,year,title,comic,imdb,rt,composite,opening_weeked_bo,avg_ticket_price,opening_weekend_attend,us_pop_that_year
0,1980,Superman II,DC,6.7,88,77.5,14100523.0,2.69,5241830.112,227224681
1,1982,Swamp Thing,DC,5.3,60,56.5,NaN,2.94,NaN,231664458
2,1983,Superman III,DC,4.9,24,36.5,13352357.0,3.15,4238843.492,233791994
3,1984,Supergirl,DC,4.2,8,25.0,5738249.0,3.36,1707812.202,235824902
4,1986,Howard the Duck,Marvel,4.3,16,29.5,5070136.0,3.71,1366613.477,240132887

In [12]:
## Who has more movies? DC or Marvel?
sh['comic'].value_counts()

Marvel    29
DC        20
Name: comic, dtype: int64

In [13]:
## let's see that as a percentage of the total
sh['comic'].value_counts(normalize=True)

Marvel    0.591837
DC        0.408163
Name: comic, dtype: float64

In [14]:
## what are the ratios in the last 10 years of data ?
sh[ sh['year'] >2002]['comic'].value_counts(normalize=True)

Marvel    0.741935
DC        0.258065
Name: comic, dtype: float64

In [16]:
# what about the first 10 years of data? 1978 - 1987?
sh[ sh['year'] < 1988]['comic'].value_counts()

DC        6
Marvel    1
Name: comic, dtype: int64

In [22]:
sh.count()

year                      49
title                     49
comic                     49
imdb                      49
rt                        49
composite                 49
opening_weeked_bo         46
avg_ticket_price          49
opening_weekend_attend    46
us_pop_that_year          49
dtype: int64

In [23]:
## skip nulls in analysis
sh2 = sh.dropna()
sh2.count()

year                      46
title                     46
comic                     46
imdb                      46
rt                        46
composite                 46
opening_weeked_bo         46
avg_ticket_price          46
opening_weekend_attend    46
us_pop_that_year          46
dtype: int64

In [26]:
# feature engineering
sh2['pct_of_pop'] = 100* sh2['opening_weekend_attend'] /sh2['us_pop_that_year']
sh2.tail()

/home/nbuser/anaconda3_420/lib/python3.5/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

,year,title,comic,imdb,rt,composite,opening_weeked_bo,avg_ticket_price,opening_weekend_attend,us_pop_that_year,pct_of_pop
44,2011,X-Men: First Class,Marvel,7.9,87,83.0,55101604.0,7.93,6.948500e+06,311591917,2.230000
45,2012,Marvel's The Avengers,Marvel,8.7,92,89.5,207438708.0,7.92,2.619176e+07,314055984,8.339837
46,2012,The Dark Knight Rises,DC,9.1,86,88.5,160887295.0,7.92,2.031405e+07,314055984,6.468290
47,2012,Ghost Rider: Spirit of Vengeance,Marvel,4.5,17,31.0,22115334.0,7.92,2.792340e+06,314055984,0.889122
48,2012,The Amazing Spider-Man,Marvel,7.6,74,75.0,62004688.0,7.92,7.828875e+06,314055984,2.492828

In [31]:
# Marvel comics with highest opening_weeked_bo
stuff = sh2[ sh2['comic'] == 'Marvel' ].sort_values('opening_weeked_bo').tail()
stuff.to_excel('stuff.xlsx', verbose=False, index=False)